<div class="w-100 h-100 row">
    <app-navbar class="col-3 h-100"></app-navbar>

    <span class="col-9" [ngSwitch]="componentToLoad">
        <div *ngSwitchCase="'home'" class="container w-100 pt5 pb5 vh-100">
            <app-home></app-home>
        </div>
        <div *ngSwitchCase="'themes'" class="container w-100 pt5 pb5">
            <app-themes></app-themes>
        </div>
        <div *ngSwitchCase="'bin'" class="container w-100 pt5 pb5 vh-100">
            <app-bin></app-bin>
        </div>
        <div *ngSwitchCase="'favorites'" class="container w-100 pt5 pb5 vh-100">
            <app-favorites></app-favorites>
        </div>
        <div *ngSwitchDefault class="container w-100 pt5 pb5 vh-100"> 
            <app-home></app-home>
        </div>
    </span>
</div>