<div class="ma4">
    <h2>Temas</h2>

    <h3 class="tc">¡Escoge un tema!</h3>

    <div class="flex flex-wrap justify-around w-100 h-100 mt5">
        <app-theme-item class='w-30 mb5' theme='dark'></app-theme-item>
        <app-theme-item class='w-30 mb5' theme='light'></app-theme-item>
        <app-theme-item class='w-30 mb5' theme='acuatic'></app-theme-item>
        <app-theme-item class='w-30 mb5' theme='warm'></app-theme-item>
        <app-theme-item class='w-30 mb5' theme='winter'></app-theme-item>
        <app-theme-item class='w-30 mb5' theme='spring'></app-theme-item>
    </div>
</div>