.theme-dark {
    width: 32%;
    height: 16%;

    background: #28313b !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #485461 0%, #28313b 74%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #485461 0%, #28313b 74%) !important;  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.theme-day {
    width: 24%;
    height: 16%;
   
    background: #21D4FD !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #83eaf1 0%, #63a4ff 74%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #83eaf1 0%, #63a4ff 74%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.theme-spring {
    width: 24%;
    height: 16%;
   
    background: #3bb78f !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.theme-winter {
    width: 24%;
    height: 16%;
   
    background: #b8c6db !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%) !important; 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #b8c6db 0%, #b8c6db 74%) !important; 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.theme-acuatic {
    width: 24%;
    height: 16%;
    
    background: #11489F !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(132deg, #11489F 0%, #4DB4D0 100%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(128deg, #11489F 0%, #4DB4D0 100%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.theme-warm {
    width: 24%;
    height: 16%;
   
    background: #ff4e00 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%) !important;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}