<div class="navbar-bg vh-100">
    <div class="d-flex flex-column pa5">
        <img src="../../../assets/logo.png" title="ShareBin" style="width: 128px;margin: 0 auto 1em;" id="navbar-logo">

        <button class="row navbar-element flex items-center" (click)="select('home')">
            <img src="../../../assets/icons/home.svg" width="32" alt="home icon" id="navbar-icon-home">
            <div class="ml2">Inicio</div>
        </button>

        <button class="row navbar-element flex items-center" (click)="select('bin')">
            <img src="../../../assets/icons/bin.svg" width="32" alt="bin icon" id="navbar-icon-bin">
            <div class="ml2">Papelera</div>
        </button>

        <button class="row navbar-element flex items-center" (click)="select('themes')">
            <img src="../../../assets/icons/themes.svg" width="32" alt="themes icon" id="navbar-icon-themes">
            <div class="ml2">Temas</div>
        </button>


        <button class="btn btn-danger btn-sm" (click)="logOut()" style="margin-top: 1em;" id="navbar-logout">Cerrar Sesión</button>
    </div>
</div>