.navbar-bg {
    background: linear-gradient(180deg, #7B68EE 0%, #00BFFF 100%);
}

.navbar-element {
    background: transparent;
    border: none;
    text-align: start;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

@Media(max-width: 970px){
  .ml2{
    display: none;
  }
  .navbar-element img{
    min-width: 32px;
    min-height: 32px;
  }
}
