<div>En producción...</div>
<!--
<table class="table table-hover" id="itemsTable">
    <thead>
        <tr>
            <th style="width: 70px;"></th>
            <th scope="col" class="align-middle" id="nameColumn" (click)="changeOrder($event)">Nombre</th>
            <th scope="col" class="align-middle" id="createDateColumn" (click)="changeOrder($event)">Fecha de creación</th>
            <th scope="col" class="align-middle" id="updateDateColumn" (click)="changeOrder($event)">Fecha de modificación</th>
            <th style="width: 70px;"></th>
            <th style="width: 70px;"></th>
            <th style="width: 70px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dat of dataFiltered; let i = index" id="file{{dat.id}}" class="pl2 pointer"
          (click)="itemPressed($event, dat); fileSelected('file' + dat.id)"
          (mouseover)="hideAndSeekService.showDownloadButton(dat.id); hideAndSeekService.showPapperBinButton(dat.id); hideAndSeekService.showShareIcon(dat.id);"
          (mouseout)="hideAndSeekService.hideDownloadButton(dat.id); hideAndSeekService.hidePapperBinButton(dat.id); hideAndSeekService.hideShareIcon(dat.id);" >
            <td id="favourite" ng-switch="dat.isFavourite" title="favourite">
                <button id="favouriteButton-{{dat.id}}" class="file-button-favourite ml2 mr2" >
                    <img id="favouriteButtonIcon" [src]="dat.isFavourite== false ? '../../../assets/icons/star.svg' : '../../../assets/icons/star-yellow.png' " width="24" title="Favorito" alt="fav" (click)="Favourite(dat)">
                </button>
            </td>

            <td id="fileName" title="Nombre"> {{ dat.name }}</td>
            <td id="fileCreateDate" title="Fecha de creación"> {{ dat.createDate | date: 'dd/MM/yyyy' }}</td>
            <td id="fileUpdateDate" title="Fecha de modificación"> {{ dat.updateDate | date: 'dd/MM/yyyy' }}</td>
            <td id="fileDownload">
                <button id="downloadButton-{{dat.id}}" class="file-button ml2 mr2" (click)="downloadFile(dat)">
                    <img id="downloadButtonIcon" src="../../../assets/icons/download.svg" width="24" title="Descargar" alt="descargar">
                </button>
             </td>

            <td id="fileShare">
                <button id="shareIcon-{{dat.id}}" class="file-button ml2 mr2" (click)="shareFile(dat)">
                    <img id="shareButtonIcon" src="../../../assets/icons/share-black.svg" width="24" title="Compartir" alt="compartir">
                </button>
            </td>

            <td id="fileDelete">
                <button id="papperBinButton-{{dat.id}}" class="file-button ml2 mr2" (click)="move2PapperBin(dat)">
                    <img id="deleteButtonIcon" src="../../../assets/icons/bin-black.svg" width="24" title="Eliminar" alt="borrar">
                </button>
            </td>
        <tr>
    </tbody>
</table> -->