<div class="h-100 w-100" >
    <!-- Barra de búsqueda y subida de archivos -->
    <div id="fileMove2Bin" class="alert alert-danger" role="alert" style="display:none;" (click)="closeMessagefileMove2Bin()" >
     Movido Fichero a la papelera.
    </div>
    <div class="flex justify-between">
     <div id="fileMove2Bin" class="alert alert-danger" role="alert" style="display:none;">
            Movido Fichero a la papelera.<button (click)="closeMessagefileMove2Bin()" >X</button>
            </div>
        <div class="w-70 flex">
            <h2>Inicio</h2>
            <app-searchbar class="w-100 ml4" (filterToEmit)="getFilter($event)" (searchToEmit)="getSearch($event)"></app-searchbar>
        </div>

        <button class="w-25 btn btn-primary navbar-bg" (click)="loadUploadModal()">Subir archivo</button>
    </div>

    <!-- Listado de archivos e información -->
    <div class="flex justify-between pt5 pb4 h-100">
        <div class="bg-light align-content-center" [ngStyle]="{'width':itemSelected.id === '' ? '100%' : '70%' }">
            <cdk-virtual-scroll-viewport itemSize='5' class="h-100">
                <div class="pt2 pb2" *cdkVirtualFor="let dat of dataFiltered" (click)="itemPressed(dat)">
                    <div id="file{{dat.clientId}}" class="pl2" (mouseover)="showPapperBinButton(dat.id)" (mouseover)="showDownloadButton(dat.id)" (mouseout)="hidePapperBinButton(dat.id)" (mouseout)="hideDownloadButton(dat.id)"  style="border-bottom: 1px solid #c1c1c1;">
                        <p style="display: inline-block;">
                            <span id="fileName" style="min-width: 200px;">{{dat.name}}</span>
                            <!--<span id="dateText" style="margin-left: 150px; font-size: 13px;">Fecha de modificación: <span id="modificationDate" style="font-style: italic; color: #9E9E9E;">01/01/2000</span></span>-->
                        </p>
                        <button id="downloadButton-{{dat.id}}" class="btn btn-outline-primary btn-sm" style="display:none;float:right;" (click)="downloadFile(dat)"><!--<a style="text-decoration: none;" target="_blank" href="../../../assets/ShareBin_Logo.png">Download</a>-->
                            Download 
                        </button>
                        <button id="papperBinButton-{{dat.id}}" class="btn btn-outline-primary btn-sm" style="display:none;float:right;" (click)="move2PapperBin(dat)">
                        PapperBin
                        </button>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="w-25 flex flex-column justify-between" [ngStyle]="{'display':itemSelected.id === '' ? 'none' : 'block' }">
            <div>
                <div><strong>Archivo seleccionado</strong></div>
                <div class="line-breaker mb3"></div>

                <div class="w-100 mb3">
                    <label for="itemName" class="w-100">Nombre</label>
                    <input #nameInput name="itemName" class="w-100 form-control custom-input-container" [value]="itemSelected.name" />
                </div>
                <div class="w-100 mb2">
                    <label for="itemDescription" class="w-100">Descripción</label>
                    <textarea #textarea name="itemDescription" class="w-100 form-control custom-input-container" rows='5'>{{itemSelected.description}}</textarea>
                </div>
                <div class="w-100 mb2">
                    <div>Metadatos</div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let item of tempMetadata; let id = index" class="custom-input-container ma1">
                            <input [value]="item.key" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" (keyup)="updateMetadataKey($event, id)" class="metadataInput"> :
                            <input [value]="item.value" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" (keyup)="updateMetadataValue($event, id)" class="metadataInput">
                        </div>
                        <div *ngIf="itemSelected.id !== ''" class="pointer metadataNew ma1" (click)="newMetadata()">Añadir... </div>
                    </div>
                </div>
                <div class="tc mt5">
                    <button class="btn btn-success" (click)="saveChanges()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>