.list-container {
    height: 100%;
}
        
.dataItem {
    background-color: white;
}
        
.dataItem:hover {
    background-color: #E0EAFC;
}
        
.metadataInput {
    outline: none;
    background: transparent;
    border: transparent;
    box-shadow: none;
    color: white;
}

.metadata-container {
    /* bg */
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}