<div class="h-100 w-100">
    <!-- Barra de búsqueda y subida de archivos -->
    <div class="flex justify-between">
        <div id="fileMove2Bin" class="alert alert-danger" role="alert" style="display:none;">
            Movido Fichero a la papelera.<button (click)="closeMessagefileMove2Bin()">X</button>
        </div>
        <div class="w-70 flex">
            <h2>Inicio</h2>
            <app-searchbar class="w-100 ml4" (filterToEmit)="getFilter($event)" (searchToEmit)="getSearch($event)"></app-searchbar>
        </div>

        <button class="w-25 btn btn-primary navbar-bg" (click)="loadUploadModal()">Subir archivo</button>
    </div>

    <!-- Contenido modal share -->
    <jw-modal id="shareURLModal">
        <div class="input-group mb-3">
            <input type="text" id="shareURLContent" class="form-control" readonly placeholder="Document URL" aria-label="Document URL" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="copyURL" style="cursor: pointer;" (click)="copyURL('shareURLContent')">Copiar</span>
            </div>
        </div>
        <button class="btn btn-primary" (click)="closeModal('shareURLModal')">Cerrar</button>
    </jw-modal>

    <!-- Listado de archivos e información -->
    <div class="flex justify-between pt5 pb4 h-100">
        <div class="bg-light align-content-center" [ngStyle]="{'width':itemSelected.id === '' ? '100%' : '70%' }">
            <cdk-virtual-scroll-viewport itemSize='5' class="h-100">
                <div class="pt2 pb2" *cdkVirtualFor="let dat of dataFiltered" (click)="itemPressed(dat)">
                    <div id="file{{dat.id}}" class="pl2" (click)="fileSelected('file'+dat.id)" (mouseover)="showDownloadButton(dat.id);showPapperBinButton(dat.id);showShareIcon(dat.id)" (mouseout)="hideDownloadButton(dat.id);hidePapperBinButton(dat.id);hideShareIcon(dat.id)" style="border-bottom: 1px solid #c1c1c1;">
                        <p style="display: inline-block;">
                            <span id="fileName" style="min-width: 200px;">{{dat.name}}</span>
                            <!--<span id="dateText" style="margin-left: 150px; font-size: 13px;">Fecha de modificación: <span id="modificationDate" style="font-style: italic; color: #9E9E9E;">01/01/2000</span></span>-->
                        </p>
                        <button id="downloadButton-{{dat.id}}" class="file-button ml2 mr4" (click)="downloadFile(dat)">
                            <img src="../../../assets/icons/share-black.svg" width="24">
                        </button>
                        <button id="papperBinButton-{{dat.id}}" class="file-button ml2 mr2" (click)="move2PapperBin(dat)">
                            <img src="../../../assets/icons/bin-black.svg" fill="black" width="24">
                        </button>
                        <img id="shareIcon-{{dat.id}}" src="../../../assets/icons/share.svg" width="25" alt="share icon" style="display:none;float:right;cursor:pointer;" (click)="shareFile(dat)">
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="w-25 flex flex-column justify-between" [ngStyle]="{'display':itemSelected.id === '' ? 'none' : 'block' }">
            <div>
                <div><strong>Archivo seleccionado</strong></div>
                <div class="line-breaker mb3"></div>

                <div class="w-100 mb3">
                    <label for="itemName" class="w-100">Nombre</label>
                    <input #nameInput name="itemName" class="w-100 form-control custom-input-container" [value]="itemSelected.name" />
                </div>
                <div class="w-100 mb2">
                    <label for="itemDescription" class="w-100">Descripción</label>
                    <textarea #textarea name="itemDescription" class="w-100 form-control custom-input-container" rows='5'>{{itemSelected.description}}</textarea>
                </div>
                <div class="w-100 mb2">
                    <div>Metadatos</div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let item of tempMetadata; let id = index" class="custom-input-container ma1">
                            <input [value]="item.key" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" (keyup)="updateMetadataKey($event, id)" class="metadataInput"> :
                            <input [value]="item.value" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" (keyup)="updateMetadataValue($event, id)" class="metadataInput">
                        </div>
                        <div *ngIf="itemSelected.id !== ''" class="pointer metadataNew ma1" (click)="newMetadata()">Añadir... </div>
                    </div>
                </div>
                <div class="tc mt5">
                    <button class="btn btn-success" (click)="saveChanges()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div id="fileMove2Bin" class="alert alert-danger" role="alert" style="display: block;" (click)="closeMessagefileMove2Bin()">
        <!-- Faltaría colocar bonito el botón con un buen estilo-->
        Movido Fichero a la papelera.
    </div>
</div>