<div class="w-100 h-100 bg-light flex items-center justify-between searchbar-bg" id="searchbarContainer">
    <i class="icon ion-md-search pl2"></i>
    <input class="w-100 h-100 pl2 searchbar-bg" style="border: none" placeholder="Buscar archivos según..." (keyup)="search($event)">

    <div class="flex justify-around">
        <button class="ma1" [ngClass]="{'buttonActivated': nameActivated, 'buttonDisabled': !nameActivated}" (click)="filterBy('name')">Nombre</button>
        <button class="ma1" [ngClass]="{'buttonActivated': descriptionActivated, 'buttonDisabled': !descriptionActivated}" (click)="filterBy('description')">Descripción</button>
        <button class="ma1" [ngClass]="{'buttonActivated': metadataActivated, 'buttonDisabled': !metadataActivated}" (click)="filterBy('metadata')">Metadatos</button>
    </div>
</div>