html,
body {
    --light-shades: rgb(213, 239, 248);
    --light-accent: #4DB4D0;
    --main-brand-color: #11489F;
    --dark-accent: #756F80;
    --dark-shades: #16151F;

    background: var(--light-shades) !important;
   
}

.navbar-bg, .btn-primary {
    background: var(--main-brand-color) !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(132deg, var(--main-brand-color) 0%, var(--light-accent) 100%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(128deg, var(--main-brand-color) 0%, var(--light-accent) 100%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
