html,
body {
    --light-shades: #F0EFEA;
    --light-accent: #81B3B3;
    --main-brand-color: #28313b;
    --dark-accent: #485461;
    --dark-shades: #212E2B;

    background: #485461 !important;
}

.btn-primary {
    background-color: #485461 !important;
    background-image: linear-gradient(315deg, var(--dark-accent) 0%, var(--main-brand-color) 74%) !important;

    border: none;
}

.navbar-bg {
    background: var(--main-brand-color) !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(315deg, var(--dark-accent) 0%, var(--main-brand-color) 74%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(315deg, var(--dark-accent) 0%, var(--main-brand-color) 74%) !important;  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
