html,
body {
    --light-shades: #F7F9FA;
    --light-accent: #EFAF90;
    --main-brand-color: #F35E61;
    --dark-accent: #AFABB4;
    --dark-shades: #686871;

    background: var(--light-shades) !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--light-shades), var(--light-accent)) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--light-shades), var(--light-accent)) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-bg, .btn-primary {
    background: var(--main-brand-color) !important;
}
