.navbar-bg, .btn-primary {
    background: #f7f7f7  !important;
    color: #000000;
    border: none !important;
}
.btn-primary:hover {
    color: #000000 !important;
}

div{color: #000000 !important;}

