<div class="col-md-12" class="uploadModal">

        <div id="fileUploadSuccess" class="alert alert-success" role="alert" style="display:none; text-align: center; opacity: 0.7;">
                Fichero subido correctamente.
            </div>
            <div id="fileUploadError" class="alert alert-danger" role="alert" style="display:none; text-align: center; opacity: 0.7;">
                Error! No ha seleccionado ningún archivo.
            </div>   
            <div id="fileUploadLimit" class="alert alert-danger" role="alert" style="display:none; text-align: center; opacity: 0.7;">
                Error! Recuerda que no se pueden subir ficheros que excedan los 20 MB!
            </div>              
        </div>
    

    <div class="col-md-12">

     <!--<h3>Subir Archivos</h3>-->
        <ngx-dropzone [maxFileSize]="20971521" (change)="onSelect($event)">
                <ngx-dropzone-label><h4>Pulsa o arrastra aquí tus archivos</h4>
                No subir archivos mayores a 20 MB</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                  
                </ngx-dropzone-image-preview>
        </ngx-dropzone>
          
    </div>
        
    <button type="button" class="btn btn-success ma3" (click)="newOnUpload()">        
                <span class="glyphicon glyphicon-upload">Subir Archivos</span>
    </button>
    

<div class="col-md-12 mb2" class="uploadModal">
   
    <jw-modal id="fileDescription">
        <!--<p>Nombre del fichero: <span id="fileName"></span></p>-->
        <p>Descripción: <input type="text" id="fileDescriptionContent" /></p>
        <button (click)="closeModal('fileDescription')">Aceptar</button>
    </jw-modal>

    <table class="table">
        <!--*ngIf="files.length > 0"-->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tamaño</th>
                <!--<th>Progreso</th>-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="fileNameTable"></td>
                <td id="fileSizeTable"></td>
                <!--<td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>-->
            </tr>
        </tbody>
    </table>

</div>