<div class="col-md-12">

    <h3>Selecciona tus archivos</h3>

</div> 

<div class="col-md-16">      
        <img src="/assets/uploadImagen.png"/>      
</div>

<div class="col-md-9" style="margin-bottom: 40px">

    <!--<h3>Subir Archivos</h3>-->
    <input type="file" (change)="fileProgress($event)" #fileInput style="margin: 1em 0">
    <!--(click)="fileInput.click()"-->
    <button type="button" class="btn btn-success" style="margin-bottom: 2%;" (click)="openModal('fileDescription')">        
        <span class="glyphicon glyphicon-upload"></span> Sube tus archivos
    </button>
    <button type="button" class="btn btn-danger" (click)="clearFiles()" style="margin-left: 2%; margin-bottom: 2%;">
        <span class="glyphicon glyphicon-trash"></span> Elimina tus archivos
    </button>

    <jw-modal id="fileDescription">
        <!--<p>Nombre del fichero: <span id="fileName"></span></p>-->
        <p>Descripción: <input type="text" /></p>
        <button (click)="closeModal('fileDescription')">Aceptar</button>
    </jw-modal>

    <table class="table"> <!--*ngIf="files.length > 0"-->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tamaño</th>
                <th>Progreso</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of files">
                <td [ngClass]="{'text-green': item.isUploading}"><strong>{{ item?.file?.name }}</strong></td>
                <td nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
                      
</div>