<div class="col-md-12">
    <div id="fileUploadSuccess" class="alert alert-success" role="alert" style="display:none;">
        Fichero subido correctamente.
    </div>
    <div id="fileUploadError" class="alert alert-danger" role="alert" style="display:none;">
        Error al subir el fichero. Recuerda que no se pueden subir ficheros vacíos!
    </div>   
    <div id="fileUploadLimit" class="alert alert-danger" role="alert" style="display:none;">
        Error al subir el fichero. Recuerda que no se pueden subir ficheros que excedan los 20 MB!
    </div>   
    <h3>Selecciona tus archivos</h3>
</div>

<div class="col-md-12">
    <img src="/assets/uploadImagen.png" />
</div>

<div class="col-md-12 mb2">
    <!--<h3>Subir Archivos</h3>-->
    

    <!--(click)="fileInput.click()"-->
    <div class="flex justify-center">
            <input type="file" (change)="fileProgress($event)" #fileInput style="display: none;">
        <button type="button" class="btn btn-primary ma3" (click)="fileInput.click()">
            <span class="glyphicon glyphicon-trash"></span> Explorar
        </button>

        <button type="button" class="btn btn-success ma3" (click)="onUpload('')">        
            <span class="glyphicon glyphicon-upload"></span> Sube tus archivos
        </button>
        
    </div>

    <jw-modal id="fileDescription">
        <!--<p>Nombre del fichero: <span id="fileName"></span></p>-->
        <p>Descripción: <input type="text" id="fileDescriptionContent" /></p>
        <button (click)="closeModal('fileDescription')">Aceptar</button>
    </jw-modal>

    <table class="table">
        <!--*ngIf="files.length > 0"-->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tamaño</th>
                <!--<th>Progreso</th>-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="fileNameTable"></td>
                <td id="fileSizeTable"></td>
                <!--<td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>-->
            </tr>
        </tbody>
    </table>

</div>